

body{

    background: url(../img/backgroundd.jpg) no-repeat center center fixed ;
    background-size: cover;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



#textohome{
    color:white;
    
}

.main-section{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}


#firma{
    position:absolute;
    z-index:1;
    top:400px;
}

