<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/dashboard.css')  }}">
</head>

<body>
    {% block content %}

    <!-- Comprobacion de si se ejecuto una sentencia -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="toast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500"
        style="position: absolute; top: 100px; right: 10px;">
        <div class="toast-header">
            <div class="rounded me-3"><i class="fa-sharp fa-solid fa-bell"></i></div>
            <strong class="me-auto">{{message[0:7]}}</strong>
            <small>Justo ahora</small>
            <button type="button" id="btnOcultar" class="btn-close ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close">
            </button>
        </div>
        <div class="toast-body">
            {{message[9:]}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/home">
            <img src="static/img/logotest6.png" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
            Chiquinquira

        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ url_for('logout') }}">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="calendar" class="align-text-bottom"></span>
                                Citas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/gestsolic">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Solicitudes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Examenes
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Acciones</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link active" href="/gestsolic/edit">
                                <span data-feather="edit" class="align-text-bottom"></span>
                                Editar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="trash" class="align-text-bottom"></span>
                                Borrar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br><br><br>

    <div class="container">
        <main>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Datos de la solicitud</h4>
                <p><small><cite> en los siguientes recuadros se presenta la información de la solicitud a
                            editar.</cite></small></p>

                <form action="/updatesolic/{{citaparticular.0}}" method="POST" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="solicitante" class="form-label">Solicitante</label>
                            <select class="form-select form-select-md mb-3" name="solicit" id="solicitante"
                                aria-label=".form-select-lg example" required>
                                <option selected>{{ citaparticular.1 }}</option>
                                {% for usuarios in users %}
                                <option value="{{ usuarios.1 }}">{{ usuarios.0 }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Ingresa un solicitante.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-select form-select-md mb-3" name="tipoE" id="tipo"
                                aria-label=".form-select-lg example" required>
                                <option selected>Hematología</option>
                                <option value="1">Hematología</option>
                            </select>
                            <div class="invalid-feedback">
                                Ingresa un tipo de examen.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="fecha" class="form-label">Fecha</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><span data-feather="calendar"
                                        class="align-text-bottom"></span></span>
                                <input type="date" class="form-control" name="fecha" id="fecha" placeholder="" value="{{ citaparticular.2 }}"
                                    required>
                                <div class="invalid-feedback">
                                    Ingresa una fecha valida.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="Acotaciones" class="form-label">Descripción <span
                                    class="text-muted">(Opcional)</span></label>
                            <textarea class="form-control" name="acotaciones" id="Acotaciones" placeholder=""
                                rows="6">{{ citaparticular.3 }}</textarea>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-dark btn-lg" type="submit">Continue to checkout</button>
                    <br>
                </form>
            </div>
        </main>
    </div>

    {% endblock %}

    <!-- Script JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>