<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://rawgit.com/AuspeXeu/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>

    <link href="https://rawgit.com/AuspeXeu/bootstrap-datetimepicker/master/css/bootstrap-datetimepicker.css"
        rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/dashboard.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/offcanvas.css')  }}">

    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datetimepicker({
                format: 'yyyy/mm/dd',
                minView: 'month',
                autoclose: true,
                
            });

            $("#datepicker1").datetimepicker({
                format: 'yyyy/mm/dd',
                minView: 'month',
                autoclose: true
            });
        });
    </script>
</head>

<body>

    <!-- Comprobacion de si se ejecuto una sentencia -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="toast1" class="toast text-bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500"
        style="position: absolute; top: 62px; right: 10px;">
        <div class="toast-header">
            <div class="rounded me-3"><i class="fa-sharp fa-solid fa-bell"></i></div>
            <strong class="me-auto">{{message[0:7]}}</strong>
            <small>Justo ahora</small>
            <button type="button" id="btnOcultar" class="btn-close ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close">
            </button>
        </div>
        <div class="toast-body">
            {{message[9:]}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">
            <img src="static/img/logotest6.png" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
            Chiquinquira

        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ url_for('logout') }}">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/home">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/gestcit">
                                <span data-feather="calendar" class="align-text-bottom"></span>
                                Citas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestsolic">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Solicitudes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestexam">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Examenes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestuser">
                                <span data-feather="user" class="align-text-bottom"></span>
                                Usuarios
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Acciones</span>
                        <a class="link-secondary" href="/gestcit/add" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/gestcit/edit">
                                <span data-feather="edit" class="align-text-bottom"></span>
                                Editar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestcit/del">
                                <span data-feather="trash" class="align-text-bottom"></span>
                                Borrar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="align-content-stretch">
                    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                        <img class="me-3" src="static/img/logotest6.png" alt="" width="48" height="38">

                        <div class="lh-1">
                            <h1 class="h6 mb-0 text-white lh-1 py-1">Gestión de Citas</h1><span data-feather="calendar"
                                class="align-text-bottom"></span>
                            <small>Citas</small>
                        </div>

                        <span data-feather="sliders" class="align-text-bottom" role="button" data-bs-toggle="modal"
                            data-bs-target="#configModal"
                            style="position:fixed; margin-left: 75%; height: 3%; width: 3%;"></span>
                    </div>
                </div>


                <div class="table-responsive py-1">
                    <table class="table table-striped text-center table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Solicitud
                                    <span type="" class="" data-bs-toggle="tooltip" data-bs-placement="right"
                                        data-bs-title="Puedes dar click en la solicitud para ver sus detalles"
                                        style="position:relative;">
                                        <span data-feather="help-circle" class="align-text-bottom"></span>
                                    </span>
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for citas in cits %}
                            <tr>
                                <td>{{ citas.0 }}</td>
                                <td>{{ citas.1 }}</td>
                                {% if citas.2 == 1 %}
                                <td>Hematología</td>
                                {% endif %}
                                <td>{{ citas.3 }}</td>
                                <td>
                                    <p type="button" data-id='{{ citas.4 }}' class="valueCit" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        {{ citas.4 }}
                                    </p>
                                </td>
                                <td>
                                {% if citas.5 == 1 %}
                                    <a href="/checkcit/{{ citas.0 }}">
                                        <center><span data-feather="check-circle"
                                                class="align-text-bottom btn-delete"></span></center>
                                    </a>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>


    <!-- Scripts para notificaciones -->
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');


            $("#btnToasts").click(function () {
                $("#toast1").toast('show');
            });


            $("#btnOcultar").click(function () {
                $("#toast1").toast('hide');
            });
        });
    </script>

    <!-- Script para pasar el Num cita para imprimir detalle de citas en el modal -->
    <script type="text/javascript">

        // Configuracion de token CSRF
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        // Configuracion Modal
        $(document).ready(function () {
            $('.valueCit').click(function () {
                var idsolic = $(this).data('id');
                $.ajax({
                    url: '/modalsolic',
                    type: 'post',
                    data: { idsolic: idsolic },
                    success: function (data) {
                        $('.modal-body.fa-s').html(data);
                        $('.modal-body.fa-s').append(data.htmlresponse);
                        $('#citsModal').modal('show');
                    }
                });
            });
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" style="top:10%" id="exampleModal" tabindex="-1" id="citsModal" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="citsModalLabel">Detalles de la cita</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fa-s">
                </div>
                <div class="modal-footer">
                    <small><cite> laboratorio chiquinquira &copy; 2017-2022 </cite></small>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal filtrado -->
    <div class="modal fade modal-sm" style="top:10%" tabindex="-1" id="configModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">Configuración</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">

                    <form action="/gestcit" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <label for="filtStatus">Estado</label>
                        <select class="form-select" aria-label="Default select example" name="estado" id="filtStatus">
                            <option selected value=""></option>
                            <option value="1">Por realizar</option>
                            <option value="2">Completadas</option>
                            <option value="3">Pospuesta</option>
                        </select>

                        <br>
                        <center>
                            <hr width="100px">
                        </center>
                        <br>


                        <label for="datepicker1">Desde</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><span data-feather="calendar"
                                    class="align-text-bottom"></span></span>
                            <input type="text" class="form-control datepicker" id="datepicker" name="fecMin"
                                aria-describedby="basic-addon1">
                        </div>

                        <label for="datepicker2">Hasta</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><span data-feather="calendar"
                                    class="align-text-bottom"></span></span>
                            <input type="text" class="form-control datepicker" id="datepicker1" name="fecMax"
                                aria-describedby="basic-addon1">
                        </div>


                        <br>
                        <center>
                            <button class="btn btn-dark btn-modal" type="submit" id="boton">
                                Ingresar
                            </button>
                        </center>


                        <br>
                    </form>
                </div>


                <div class="modal-footer">
                    <small><cite> laboratorio chiquinquira &copy; 2017-2022 </cite></small>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para el tooltip -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <!-- Script para el collapse -->
    <!-- <script>
        const bsCollapse = new bootstrap.Collapse('#myCollapse', {
            toggle: false
        })
    </script> -->

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>

</body>

</html>