<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Tema para Datepicker JqueryUI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/dashboard.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/offcanvas.css')  }}">
</head>

<body>

    <!-- Comprobacion de si se ejecuto una sentencia -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="toast1" class="toast text-bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500"
        style="position: absolute; top: 62px; right: 10px;">
        <div class="toast-header">
            <div class="rounded me-3"><i class="fa-sharp fa-solid fa-bell"></i></div>
            <strong class="me-auto">{{message[0:7]}}</strong>
            <small>Justo ahora</small>
            <button type="button" id="btnOcultar" class="btn-close ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close">
            </button>
        </div>
        <div class="toast-body">
            {{message[9:]}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">
            <img src="static/img/logotest6.png" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
            Chiquinquira

        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ url_for('logout') }}">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestcit">
                                <span data-feather="calendar" class="align-text-bottom"></span>
                                Citas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestsolic">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Solicitudes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestexam">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Examenes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gestuser">
                                <span data-feather="user" class="align-text-bottom"></span>
                                Usuarios
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-12 ms-sm-auto col-lg-10" style="margin-top:7px">
                <p>
                    <h1>Bienvenido {{ current_user.fullname }}</h1><small><cite>tu ultima conexion fue hace 2 horas.</cite></small>
                </p>
            </div>
            

            <hr>

            <div class="row align-items-md-center" style="margin-top:4%; margin-left: 6.5cm;">

                <div class="col-md-12 ms-sm-auto col-lg-7">
                    <canvas class="my-auto" id="myChart"></canvas>
                </div>

                <div class="col-md-12 ms-sm-auto col-lg-3" style="margin-right: 6.5cm">
                    <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">

                        <h3 class="pt-2 mt-1 mb-1 mx-5 display-7 lh-1 fw-bold">Solicitudes recientes</h3>
                        <hr>

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container px-5">
                                        <p>Maribel Rondon, 2022-02-13, 'Quiero contactarme'</p>


                                    </div>

                                    <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">

                                        <ul class="d-flex list-unstyled mt-auto">
                                            <li class="me-auto">
                                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                    height="32" class="rounded-circle border border-white">
                                            </li>
                                            <li class="d-flex align-items-center me-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#geo-fill" />
                                                </svg>
                                            </li>
                                            <li class="d-flex align-items-center pt-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#calendar3" />
                                                </svg>
                                                <small>Reciente</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container px-5">
                                        <p>Maribel Rondon, 2022-02-13, 'Quiero contactarme'</p>
                                    </div>

                                    <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
                                        <ul class="d-flex list-unstyled mt-auto">
                                            <li class="me-auto">
                                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                    height="32" class="rounded-circle border border-white">
                                            </li>
                                            <li class="d-flex align-items-center me-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#geo-fill" />
                                                </svg>
                                            </li>
                                            <li class="d-flex align-items-center pt-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#calendar3" />
                                                </svg>
                                                <small>Reciente</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container px-5">
                                        <p>Maribel Rondon, 2022-02-13, 'Quiero contactarme'</p>
                                    </div>
                                    <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
                                        <ul class="d-flex list-unstyled mt-auto">
                                            <li class="me-auto">
                                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                    height="32" class="rounded-circle border border-white">
                                            </li>
                                            <li class="d-flex align-items-center me-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#geo-fill" />
                                                </svg>
                                            </li>
                                            <li class="d-flex align-items-center pt-3">
                                                <svg class="bi me-2" width="1em" height="1em">
                                                    <use xlink:href="#calendar3" />
                                                </svg>
                                                <small>Reciente</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>


                    <div class="py-lg-5">
                        <div class="shadow-lg col-sm-auto py-2 px-2 rounded-2">
                            <img src="/static/img/carousel-3.jpg" alt="..." class="d-block w-100">
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>

    <!-- Script JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>

    <!-- Script grafica -->
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09'],
                datasets: [{
                    label: '# Usuarios nuevos',
                    data: [20, 22, 26, 35, 40, 42],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <!-- Script para Datepicker JQuery UI -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker1").datepicker({
                dateFormat: "yy-mm-dd",
            });
            $("#datepicker2").datepicker({
                dateFormat: "yy-mm-dd",
            });
        });
    </script>

    <!-- Scripts para notificaciones -->
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');


            $("#btnToasts").click(function () {
                $("#toast1").toast('show');
            });


            $("#btnOcultar").click(function () {
                $("#toast1").toast('hide');
            });
        });
    </script>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>

</body>

</html>