<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar de 0</title>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light navbar-expand-sm align-items-center justify-content-center justify-content-md-between p-3 border-bottom fixed-top">
        <div class="container-fluid">
            <!-- Logo del Brand -->
            <a class="navbar-brand" href="/test">
                <img src="static/img/logotest6.png" alt="Logo" width="40" height="32" class="d-inline-block align-text-top">
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="navbar-nav me-auto ms-auto">
                    <a class="nav-item nav-link px-2 link-secondary" href="#">Inicio</a>
                    <a class="nav-item nav-link px-2 link-dark" href="#">Caracteristicas</a>
                    <a class="nav-item nav-link px-2 link-dark" href="#">Membresias</a>
                    <a class="nav-item nav-link px-2 link-dark" href="#">FAQs</a>
                    <a class="nav-item nav-link px-2 link-dark" href="#">Nosotros</a>
                </div>

                <div class="d-flex flex-row">
                    <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                    <a href="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts Necesarios -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>