<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exámenes</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://rawgit.com/AuspeXeu/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js"></script>

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <link href="https://rawgit.com/AuspeXeu/bootstrap-datetimepicker/master/css/bootstrap-datetimepicker.css"
        rel="stylesheet" />


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/dashboard.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/offcanvas.css')  }}">
</head>

<body>

    <!-- Comprobacion de si se ejecuto una sentencia -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}


    <div class="toast align-items-center text-bg-{{ category }} border-0" role="alert" aria-live="assertive"
        aria-atomic="true" data-delay="500" style="position: absolute; top: 62px; right: 10px;">
        <div class="d-flex">
            <div class="toast-body">
                {{message[9:]}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">
            <img src="static/img/logotest6.png" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
            Chiquinquira

        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ url_for('logout') }}">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/home">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/status">
                                <span data-feather="calendar" class="align-text-bottom"></span>
                                Citas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/requestdate">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Solicitar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/labtest">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Examenes
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span>Acciones</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>

                    <!-- <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/requestdate/add">
                                <span data-feather="file-plus" class="align-text-bottom"></span>
                                Agregar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/requestdate/edit">
                                <span data-feather="edit" class="align-text-bottom"></span>
                                Editar
                            </a>
                        </li>
                    </ul> -->
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="row align-items-md-stretch">
                    <div class="col-md-7">

                        <div class="col-sm-auto py-4 mx-auto">
                            <div class="table-responsive border-0 py-5">
                                <table class="table table-striped text-center table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Estado
                                                <span type="" class="" data-bs-toggle="tooltip"
                                                    data-bs-placement="right"
                                                    data-bs-title="Check 'Realizada.' | Reloj 'En proceso.' | Octagono 'Pospuesta'"
                                                    style="position:relative;">
                                                    <span data-feather="help-circle" class="align-text-bottom"></span>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for citasagend in citas %}

                                        <tr>
                                            <td>{{ citasagend.0 }}</td>
                                            {% if citasagend.1 == 1 %}
                                            <td>Hematología</td>
                                            {% endif %}

                                            {% if citasagend.2 == 1 %}
                                            <td>
                                                <span data-feather="clock" class="align-text-bottom"></span>
                                            </td>
                                            {% endif %}

                                            {% if citasagend.2 == 2 %}
                                            <td>
                                                <span data-feather="check" class="align-text-bottom"></span>
                                            </td>
                                            {% endif %}

                                            {% if citasagend.2 == 3 %}
                                            <td>
                                                <span data-feather="x-octagon" class="align-text-bottom"></span>
                                            </td>
                                            {% endif %}

                                            <!-- <td>
                                                    <a href="/editsolic/{{ citas.0 }}">
                                                        <center><span data-feather="edit" class="align-text-bottom"></span></center>
                                                    </a>
                                                </td> -->
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-lg-4 py-5  order-last">

                        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                            style="background-image: url('unsplash-photo-1.jpg');">

                            <h3 class="pt-2 mt-1 mb-1 mx-5 display-7 lh-1 fw-bold">Exámenes recientes</h3>
                            <hr>

                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        {% if examen1 %}
                                        <div class="container px-5">
                                            <p>{{ examen1.0 }}</p>
                                            <p>GR: {{ examen1.1 }}, GB: {{ examen1.2 }}, HG: {{ examen1.3 }}, HT: {{
                                                examen1.4 }}</p>
                                            <P>PQ: {{ examen1.5 }}, VCM: {{ examen1.6 }}, HCM: {{ examen1.7 }}, CHCM: {{
                                                examen1.8 }}</P>
                                        </div>
                                        {% else %}
                                        <div class="container px-5">
                                            <p>ㅤ</p>
                                            <p>ㅤ</p>
                                            <p>ㅤ</p>
                                        </div>
                                        {% endif %}
                                        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">

                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                        height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#geo-fill" />
                                                    </svg>
                                                </li>
                                                <li class="d-flex align-items-center pt-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#calendar3" />
                                                    </svg>
                                                    <small>Hace dos horas</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    {% if examen2 %}
                                    <div class="carousel-item">
                                        <div class="container px-5">
                                            <p>{{ examen2.0 }}</p>
                                            <p>GR: {{ examen2.1 }}, GB: {{ examen2.2 }}, HG: {{ examen2.3 }}, HT: {{
                                                examen2.4 }}</p>
                                            <P>PQ: {{ examen2.5 }}, VCM: {{ examen2.6 }}, HCM: {{ examen2.7 }}, CHCM: {{
                                                examen2.8 }}</P>
                                        </div>

                                        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                        height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#geo-fill" />
                                                    </svg>
                                                </li>
                                                <li class="d-flex align-items-center pt-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#calendar3" />
                                                    </svg>
                                                    <small>3 dias</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if examen3 %}
                                    <div class="carousel-item">
                                        <div class="container px-5">
                                            <p>{{ examen3.0 }}</p>
                                            <p>GR: {{ examen3.1 }}, GB: {{ examen3.2 }}, HG: {{ examen3.3 }}, HT: {{
                                                examen3.4 }}</p>
                                            <P>PQ: {{ examen3.5 }}, VCM: {{ examen3.6 }}, HCM: {{ examen3.7 }}, CHCM: {{
                                                examen3.8 }}</P>
                                        </div>
                                        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                                        height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#geo-fill" />
                                                    </svg>
                                                </li>
                                                <li class="d-flex align-items-center pt-3">
                                                    <svg class="bi me-2" width="1em" height="1em">
                                                        <use xlink:href="#calendar3" />
                                                    </svg>
                                                    <small>2 semanas</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif%}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <canvas class="my-4 w-100" id="myChart" width="435" height="293"></canvas>
                    </div>


                </div>
            </main>
        </div>
    </div>

    <script>
        feather.replace()
    </script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                datasets: [{
                    label: 'Horas de actividad',
                    data: [2, 4, 2, 6, 1, 8],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <!-- Script para el tooltip -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <!-- Scripts para notificaciones -->
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');


            $("#btnToasts").click(function () {
                $("#toast1").toast('show');
            });


            $("#btnOcultar").click(function () {
                $("#toast1").toast('hide');
            });
        });
    </script>

</body>

</html>