<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Solicitar Cita</title>

    <!-- Boostrap -->
    <link href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Estilo CSS -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{  url_for('static' , filename ='css/nose.css')  }}">
</head>

{% extends "layout-user.html" %}

<body class="bg-light">
    {% block content %}

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/static/img/logo750x750-2.png" alt="" width="72" height="57">
                <h2>Solicitar citas</h2>
                <p class="lead">En esta seccion puedes realizar una solicitud de cita para que sea procesada por
                    la secretaría. Indicanos que día te gustaría, que tipo de examen y tu disponibilidad en una
                    acotacion (opcional), una vez agendada nos pondremos en contacto contigo.
                </p>
            </div>

            <form action="/test" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary fw-bold">Tipo de Examen</span>
                            <span class="badge bg-primary rounded-pill">3</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Hematología</h6>
                                    <small class="text-muted">Globulos rojos, Globulos blancos, ...` `</small>
                                </div>
                                <div class="form-check">
                                    <input id="type" name="type" type="radio" class="form-check-input" value="1" checked
                                        required>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Segundo examen</h6>
                                    <small class="text-muted">Pequeña descripción</small>
                                </div>
                                <div class="form-check">
                                    <input id="type" name="type" type="radio" class="form-check-input" value="1"
                                        required>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Tercer examen</h6>
                                    <small class="text-muted">Pequeña descripción</small>
                                </div>
                                <div class="form-check">
                                    <input id="type" name="type" type="radio" class="form-check-input" value="1"
                                        required>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Promo code</h6>
                                    <small>EXAMPLECODE</small>
                                </div>
                                <span class="text-success">−$5</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <strong>$20</strong>
                            </li>
                        </ul>

                        <form class="card p-2">
                            <div class="input-group">
                                <button type="submit" class="w-100 btn btn-primary shadow"><i
                                        class="fa-sharp fa-solid fa-right-to-bracket"> Ingresar</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Información solicitud</h4>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="fDate" class="form-label">Fecha</label>
                                <input type="date" name="fechas" class="form-control rounded-3" id="fDate"
                                    placeholder="" value="" required><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-th"></i></span>
                                <div class="invalid-feedback">
                                    Fecha correcta es requerida.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="fTime" class="form-label">Hora</label>
                                <input type="time" name="hora" class="form-control" id="fTime" placeholder="" value=""
                                    required>
                                <div class="invalid-feedback">
                                    La hora es requerida, por favor ingresala
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label for="fAcota" class="form-label">Acotaciones</label>
                                <textarea class="form-control" name="acotaciones" id="fAcotaciones" placeholder=""
                                    rows="8"></textarea>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                    </div>
                </div>
            </form>

            <h4 class="mb-3">Solicitudes de citas ( en proceso)</h4>

            <div class="row gy-3">
                <table class="table table-striped-columns table-sm rounded-3">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Acotacion</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>2022-10-01</td>

                            <td>Hematología</td>

                            <td>Podré luego de las 12 AM. Estaré en casa hasta las 8 PM</td>

                            <td>En proceso</td>

                            <td>
                                <center><i class="fa-solid fa-trash btn-delete"></i></center>
                            </td>

                            <td>
                                <center><i class="fa-solid fa-pen-to-square"></i></center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017–2022 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="form-validation.js"></script>

    {% endblock %}
</body>


</html>